<%- include('../partials/header') %>
<div class="container mt-5">
    <h1>Home</h1>
    <p>First Name: <%=locals.fName %> </p>
    <p>Last Name: <%= locals.lName %> </p>
    <img src=<%=locals.img%>/>
</div>

<%- include('../partials/footer') %>