<%- include('../partials/header') %>
<div class="container mt-5">
    <div id="title">
        <h2 class="greeting">Hello <%=locals.user.firstname %></h1>
        <p class="greeting">Do more with your finances</p>
        <img style="border-radius: 50px" src=<%=locals.user.picture%> />
    </div>

    <div class="account">
        <div class="card">
            <p>Current Balance</p>
            <h2><%= locals.transaction['Current Balance']%></h2>
        </div>
        <div class="card">
            <p>Expenses this month</p>
            <h2><%= locals.transaction.Amount%></h2>
        </div>
    </div>
    <div class="chart">
        <canvas id="myChart" style="width:300px;max-width:700px"></canvas>
    </div>
    <div class="list"></div>

</div>
<%- include('../partials/footer') %>